body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  color: #272727;
}

html,
body {
  font-size: 16px;
}

code,
.monospace {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.95em;
}

// p {
//   margin: 0 0 1.5em;
//   line-height: 1.5;
// }

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: calc(8 / 16) * 1rem;
  font-weight: 500;
  margin: 0 0 0.4em;
  line-height: 1.3;
  letter-spacing: 0.017em;
}

h2 {
  font-size: calc(2 / 16) * 1rem;
  font-weight: 600;
}

.note {
  font-size: (calc(12 / 16)) * 1rem;
  color: rgba(34, 34, 34, 0.65);
}

.formatted-value {
  .sep {
    margin-right: 0.25em;
  }
  .point {
    margin-left: 0.1em;
    margin-right: -0.25em;
  }
}
