//color
$Blue01: #279ecc;
$Blue02: #84ceeb;
$Blue03: #ecf8fd;

$Pink01: #e4097d;
$Pink02: #f894c9;
$Pink03: #fff1f9;

$Grey07: #231f20;
$Grey06: #454344;
$Grey05: #686767;
$Grey04: #9c9a9a;
$Grey03: #bababa;
$Grey02: #d8d8d8;
$Grey01: #f0f0f0;

$white: #ffffff;

$gradation01: linear-gradient(133.72deg, #279ecc 0%, #e4097d 100%);
$gradation02: linear-gradient(133.72deg, #84ceeb 0%, #f894c8 100%);
$gradation03: linear-gradient(133.72deg, #ecf8fd 0%, #fff1f9 100%);
$gradation04: linear-gradient(124.51deg, #279ecc -11.51%, #a13e99 107.83%);
$gradation05: linear-gradient(133.72deg, #9a449c 0%, #e30a7d 100%);
