@import "./normalize.scss";
@import "./_fonts.scss";
@import "./_typography.scss";
@import "./_forms.scss";
@import "./variables.scss";
@import "./mixin.scss";

.content {
}
.content_layout {
  padding-left: 24px;
  padding-right: 24px;
}
.footer-content {
  padding: 10px 20px;
}
.icon-header {
  margin: 15px 0;
}

.text-link {
  color: #ff337f;
}
.text-link-alternative {
  text-decoration: underline;
}

.dialog-header {
  margin: 10px 0 20px;
}
